<div class="mx-auto md:w-2/3 w-full">
  <h1 class="text-4xl">Editing status</h1>

  <%= render "form", status: @status %>

  <div class="flex flex-row gap-3 w-full">
    <%= link_to "Show this status", @status, class: "btn btn-primary w-full" %>
    <%= link_to "Back to statuses", statuses_path, class: "btn btn-primary w-full" %>
  </div>
</div>
