<div class="w-full">

  <div class="flex justify-between items-center">
    <h1 class="text-4xl">Statuses</h1>
    <%= link_to 'New status', new_status_path, class: "btn btn-primary" %>
  </div>

  <div id="statuses" class="min-w-full">
    <%= render @statuses %>
  </div>
</div>
