<div id="<%= dom_id book_status %>">
  <% if action_name != "show" %>
    <%= link_to "Show this book status", book_book_status_path(book_status.book_id, book_status), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this book status', edit_book_book_status_path(book_status.book_id, book_status), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
