<div class="mx-auto md:w-2/3 w-full">
  <h1 class="text-4xl">Editing book status</h1>

  <%= render "form", book_status: @book_status %>

  <%= button_to "Delete this book status", book_book_status_path(@book, @book_status), method: :delete, class: "btn btn-danger" %>
</div>
